* {}

div, body {}

#id {}

.class {}

a:link {}

input:checked {}

input:not(.class) {}

input::input-placeholder {}

input::-webkit-input-placeholder {}

div:dir(ltr) { /* style properties */ }
span:dir(rtl) { /* style properties */ }

:lang(fr) > q { quotes: '\201C' '\201D' '\2018' '\2019'; }

:nth-child(2n + 2),
:nth-last-child(-n+3),
:nth-last-of-type(),
:nth-of-type(), {
	/* durp */
}

a + p {}

div > p {
	display:block;
	visibility:hidden;
}

div ~ p {}

a[title] {}

div[data-type="foo"] {}

div[data-type=foo] {}

div[data-type*=foo] {}

div[data-type^=foo] {}

div[data-type$=foo] {
	background-image:url(/static/durp.png);
}

div[data-type~=foo] {
	display:block;
}

.font {
	/* size | family */
	font:2em "Open Sans", sans-serif;

	/* style | size | family */
	font:italic 2em "Open Sans", sans-serif;

	/* style | variant | weight | size/line-height | family */
	font:italic small-caps bolder 16px/3 cursive;

	/* style | variant | weight | stretch | size/line-height | family */
	font:italic small-caps bolder condensed 16px/3 cursive;

	/* The font used in system dialogs */
	font:message-box;
	font:icon;

	/* Global values */
	font:inherit;
	font:initial;
	font:unset;
	font-family:Proxima-Nova;
}

.transition {
	transition-property: -webkit-opacity;
	transition: all 1s ease-in-out;
}

.animation {
	animation-name: slidein;
	animation: 4s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes example {
	from {
		background-color:red;
	}
	to {
		background-color: yellow;
	}
}

@keyframes example {
	0% {
		background-color: rgba();
	}
	68%, 72% { left: 50px; }
	100% {
		background-color: yellow;
	}
}

@font-face {
	font-family: "Bitstream Vera Serif Bold";
	src:url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}

@media tv and (min-width: 700px) and (orientation: landscape) {}

@media (min-width: 700px), handheld and (orientation: landscape) {
	body[durp] {
		display:block;
		top:2.2%;
		left:20px;
		font-size:0;
		margin-left:-20px;
		background-color:#ffffff !important;
	}
}

@page {}
@page :left {}
@page :right {}
@page LandscapeTable {}
@page CompanyLetterHead:first {} /*  identifier and pseudo page. */
@page:first {}
@page toc, index {}
@page :blank:first {}

@page :first {
	color: green;
	size: 8.5in 11in;

	@top-left {
		content: "foo";
		color:blue;
		/* The word `test` should not be highlighted */
		-webkit-background-color:test;
		background:red;
	}

	@top-right {
		content: "bar";
	}
}

@page { color: red;
	@top-center {
		content: "Page " counter(page);
	}
}
